/*! audit.less 提交审核页面 */

.audit {
	padding-bottom: @bootom-distance;
	color: #010101;
	.info {
		.detail {
			font-size: 15px;
			padding-left: @padding-LR;
			padding-right: @padding-LR;
			line-height: @54px;
			h3 {
				font-size: 16px;
				line-height: 1;
				padding-top: @22px;
				padding-bottom: @14px;
			}
		}
		ul {
			width: 100%;
			padding: @14px @25px @40px;
			li {
				width: 25%;
				padding: @5px;
				.img-box {
					width: 100%;
					height: 100%;
					overflow: hidden;
					border-radius: @10px;
					font-size: 0;
					position: relative;
					padding: 0;
				}
				img {
					position: absolute;
					width: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				label {
					display: block;
					width: 100%;
				}
			}
		}
		.textarea-box {
			padding: 0 @padding-LR;
			padding-bottom: @padding-LR;
			h3 {
				font-size: 16px;
				line-height: 1;
				padding-bottom: @20px;
			}
			textarea {
				border-radius: @10px;
				padding: @10px;
			}
		}
	}
	.rules {
		padding: 0 @padding-LR;
		h3,
		h4 {
			font-size: 16px;
			color: #010101;
			line-height: 1;
			padding-top: @40px;
			padding-bottom: @10px;
		}
		h4 {
			font-size: 15px;
		}
		p {
			font-size: 14px;
			line-height: 18px;
			color: #696969;
		}
		.img-box {
			img {
				width: @165px;
				margin-bottom: @14px;
			}
			span {
				display: inline-block;
				font-size: 13px;
				line-height: 1;
				color: #696969;
				vertical-align: top;
			}
		}
	}
}
