/*! confirm-payment.less 确认支付*/
@cp-step1-top-height: @300px;

.confirm-payment {
	background-color: @white-bgc;
	padding-bottom: @bootom-distance;
	.top {
		height: @cp-step1-top-height;
		text-align: center;
		padding-top: @64px;
		> span {
			display: block;
			font-size: @22px;
			color: #888;
			line-height: 1;
		}
		.price {
			padding: @30px 0 @28px;
			span {
				font-size: @68px;
				line-height: 1;
				color: #f00;
				display: inline-block;
				&:before {
					display: inline-block;
					content: '¥';
					font-size: @48px;
					line-height: 1;
				}
			}
		}
	}
	.pay-away {
		h3 {
			line-height: 1;
			font-size: @30px;
			padding-left: @padding-LR;
			padding-bottom: @32px;
		}
		ul {
			> li {
				position: relative;
				padding-left: @100px;
				&:last-of-type {
					.title {
						border-bottom: 1px solid @borde-top-color;
						border-top: 0;
						.left {
							span {
								line-height: @116px;
							}
						}
					}
				}
				&.wechat-pay {
					transform: translateX(-100%);
					transition: all .3s ease-in-out;
				}
				&.see-more-pay {
					padding: 0;
					text-align: left;
					font-size: @30px;
					line-height: @80px;
					cursor: pointer;
					background-color: #eee;
					padding-left: @padding-LR;
					position: relative;
					.icon-link {
						width: @32px;
						height: @32px;
						.image-svg('link');
						position: absolute;
						right: @36px;
						top: @24px;
						transition: all .3s ease-in-out;
					}
				}
			}
			&.clicked {
				> li {
					&.wechat-pay {
						transform: translateX(0);
					}
					&.see-more-pay {
						.icon-link {
							transform: rotate(90deg);
						}
					}
				}
			}
		}
		
		
		.title {
			border-top: 1px solid @borde-top-color;
			height: @120px;
			display: block;
			width: 100%;
			padding-right: @36px;
		}
		.left {
			font-size: 0;
			.icon {
				width: @40px;
				height: @32px;
				position: absolute;
				top: @44px;
				left: @52px;
			}
			.icon-alipay-01 {
				.image('icon-alipay-01');
			}
			.icon-wechat-pay-01 {
				height: @40px;
				.image('icon-wechat-pay-01');
				top: @40px;
			}
			.icon-cash {
				height: @40px;
				.image('icon-cash');
				top: @40px;
			}
			span {
				display: inline-block;
				font-size: @30px;
				line-height: @118px;
				&.recommend {
					color: green;
				}
			}
		}
		.right {
			.icon-ckeckbox-01 {
				width: @40px;
				height: @40px;
				.image-svg('no-checked');
				margin-top: @40px;
			}
			input {
				&:checked ~ .icon-ckeckbox-01 {
					.image-svg('checked');
				}
			}
		}
	}
}
