/*! input.less */
@import 'variable.less';
@placeholderColor: #b6b6b6;
@placeholder-fs: @28px;
@inputColor: #000;

input[type=checkbox],
input[type=radio],
input[type=file] {
	display: none;
}

/* 设置 placeholder 字体颜色*/
	

input {
	color: @inputColor;
	border: 0;
	outline: 0;
	display: inline-block;
	width: 100%;
	.placeholder (@placeholderColor, @placeholder-fs);
}
input[type=number] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	appearance: none;
}
