/*! sign-in.less 注册页面*/

.sign-in {
	background: url(../img/sign-bg.jpg) no-repeat top left;
	background-size: cover;
	padding: @100px @50px @40px;
	color: #000;
	h2 {
		font-size: @44px;
		line-height: 1;
		color: #fff;
		padding: 0 @16px @58px;
	}
	label {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		left: @50px;
		font-size: 0;
	}
	input {
		display: block;
		font-size: 16px;
		border-bottom: 1px solid #c7c7c7;
		line-height: 30px;
		padding: 10px 0;
		height: 51px;
		padding-left: @16px;
		&.password {
			padding-right: 35px;
		}
	}
	@icon-width: 20px;
	.input-wrapper {
		padding: @20px 0;
		background-color: #fff;
		border-radius: @20px;
		.input-box {
			padding: 0 @58px 0 @106px;
			position: relative;
			.btn {
				position: absolute;
				bottom: 0;
				right: @58px;
				width: 100px;
				height: 32px;
				border: solid 1px #356aff;
				font-size: 14px;
				line-height: 30px;
				background-color: transparent;
				color: #356aff;
				border-radius: 100px;
			}
			.input {
				&.img,
				&.code {
					padding-right: 110px;
				}
				img {
					position: absolute;
					top: 50%;
					right: @58px;
					width:100px;
					height: 40px;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}
			}
		}
		.icon-phone {
			width: @icon-width;
			height: 27px;
			.image('phone');
		}
		.icon-code {
			width: @icon-width;
			height: @icon-width;
			.image('code');
		}
		.icon-password {
			width: @icon-width;
			height: 24px;
			.image('password');
		}
		.icon-invitation-code {
			width: @icon-width;
			height: @icon-width;
			.image('invitation-code');
		}
		.icon-input-code {
			width: @icon-width;
			height: @icon-width;
			.image-svg('input-code');
		}
		.btn-box {
			position: relative;
			padding: @58px @40px 0;
			.btn {
				border-radius: 100px;
				font-size: @36px;
			}
			
		}
		.go-to-login {
			padding-right: @40px;
			text-align: right;
			a {
				display: inline-block;
				font-size: 14px;
				color: #356aff;
				line-height: @48px;
				padding-top: @12px;
			}
		}
		.icon-see-password {
			width: 19px;
			height: 13px;
			position: absolute;
			.image('see-password');
			top: 50%;
			right: @78px;
			transform: translateY(-50%);
			&.active {
				.image('see-password-active');
			}
		}
	}
}
