/*! task-detail.less 任务详情页面 */

.task-detail {
	padding-bottom: @bootom-distance;
	.task {
		padding: @30px @padding-LR 0;
		padding-bottom: 0;
		h3 {
			font-size: 16px;
			color: #010101;
			line-height: 1;
			padding-bottom: @20px;
		}
		div,
		p {
			font-size: 14px;
			color: #696969;
			line-height: 18px;
		}
		div {
			padding-bottom: @4px;
		}
		.img-warpper {
			padding-top: @25px;
			.left {
				width: 25%;
				padding: @5px;
				.img-box {
					width: 100%;
					height: 100%;
					padding: 0;
					overflow: hidden;
					border-radius: @10px;
					position: relative;
				}
				img {
					position: absolute;
					width: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.btn-box {
			position: relative;
			overflow: hidden;
			padding: @44px 0;
			.btn {
				width: 50%;
				float: left;
				color: #356aff;
				background-color: transparent;
				font-size: 14px;
				height: 14px;
				line-height: 1;
				.icon {
					width: 13px;
					height: 13px;
					margin-right: 5px;
				}
				.icon-save {
					.image('icon-save');
				}
				.icon-copy {
					.image('icon-copy');
				}
			}
		}
	}
	.other {
		padding: 0 @padding-LR;
		h3 {
			font-size: 16px;
			line-height: 1;
			color: #010101;
			padding-top: @32px;
			padding-bottom: @10px;
		}
		p {
			font-size: 14px;
			color: #696969;
			line-height: 18px;
		}
	}
}
