/*! text-page.less 社群产品-文本页面 */

// 单行文本居中 多行居左
.text-single-center {
	display: block;
	width: 100%;
	text-align: center;
	> span {
		display: inline-block;
		text-align: left;
	}
}
.text-page {
	color: #000;
	padding: @34px @padding-LR;
	font-size: @30px;
	line-height: 1.6;
	h3 {
		font-size: @40px;
		text-indent: 0;
		line-height: 1.4;
		padding-bottom: @30px;
	}
	img {
		width: 100%;
		padding: @12px 0;
	}
	p {
		text-indent: 2em;
		color: #555;
	}
}
