
// 自定义变量 引入一些函数

@import './mixins/px-to-rem.less';
@import './mixins/border.less';
@import './mixins/clearfix.less';
@import './mixins/image.less';
@import './mixins/opacity.less';
@import './mixins/user-select-none.less';
@import './mixins/placeholder.less';

@body-bgc: #fcfcfc;
@a-color: #fff;
@white-bgc: #fff;
@h20-bgc: #f0f0f0;
@btn-bgc: #356aff;
@btn-color: #fff;
@btn-height: @88px;
@btn-border-raduis: @10px;
@btn-box-padding-LR: @72px;
@btn-box-padding-TB: @30px;

@btn-w100-height: @100px;

@bootom-distance: @148px;
@bootom-w100-distance: @120px;

// padding-TB
@padding-TB: @10px;
// 
@padding-LR: @30px;

@borde-top-color: #f4f4f4;
@borde-color: #a7a7a7;
@borde-color-active: #356aff;

// input
@placeholder-color: #b6b6b6;
@placeholder-font-size: @28px;
@input-color: #000;