/node_modules
/fenxiao/node_modules
/city-opportunity-vue/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/config/fields.php
/composer.lock
/storage/*
/yfge