<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>添加菜品</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">

		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">

		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


	</head>
	<body>
		<div id="app" v-cloak>
			<div class="add-food">

				<!-- 分类 -->
				<div class="cell">
					<a href="#" class="cell-warpper">
						<span class="text-left">
							<span class="title">分类</span>
							<span class="title-hint">选择分类</span>
						</span>
						<i class="icon-is-link-big"></i>
					</a>
				</div>

				<!-- 名称 -->
				<div class="cell space-top">
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">名称</span>
							<mt-field class="input-text" type="text" v-model="foodName" placeholder="菜品名称"></mt-field>
						</span>
					</div>
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">是否添加规格</span>
						</span>
						<mt-switch v-model="standard"></mt-switch>
					</div>
				</div>
				
				
				
				<!-- 价格 -->
				<div class="cell price" v-show="!standard">
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">价格</span>
							<mt-field type="text" v-model="price" placeholder="输入价格"></mt-field>
						</span>
					</div>
					
				</div>
				
				<!-- 规格 价格 -->
				<!-- <div class="size-price" v-show="standard">
					<div class="size-price-cell">
						<mt-field class="input" label="规格" type="text" v-model="size" placeholder="例:大\/中\/小"></mt-field>
						<mt-field class="input" label="价格" type="number" v-model="sizePrice" placeholder="输入价格"></mt-field>
						<i class="size-delete"></i>
					</div>
					<div class="size-price-cell">
						<mt-field class="input" label="规格" type="text" v-model="size" placeholder="例:大\/中\/小"></mt-field>
						<mt-field class="input" label="价格" type="number" v-model="sizePrice" placeholder="输入价格"></mt-field>
						<i class="size-delete"></i>
					</div>
					<div class="add-more-size">
						<span>添加规格</span>
					</div>
				</div> -->

				<!-- 偏好 -->
				<div class="cell space-top">
					<a href="preferences.html" class="cell-warpper">
						<span class="text-left">
							<span class="title">偏好</span>
							<!-- <span class="title-hint">选择偏好</span> -->
							<span class="value">
								<b>不要葱</b>
								<b>不要葱</b>
								<b>不要葱</b>
								<b>不要葱</b>
							</span>
						</span>
						<i class="icon-is-link-big"></i>
					</a>
				</div>

				<div class="cell space-top">
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">单位</span>
							<mt-field class="input-text" type="text" v-model="foodDW" placeholder="菜品单位"></mt-field>
						</span>
					</div>
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">是否推荐</span>
						</span>
						<mt-switch v-model="recommend"></mt-switch>
					</div>
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">立即上架</span>
						</span>
						<mt-switch v-model="putaway"></mt-switch>
					</div>
				</div>

				<!-- 图片 -->
				<div class="cell space-top">
					<div class="cell-warpper img">
						<span class="text-left">
							<span class="title">图片</span>
						</span>
						<label for="foodImg">
							<img src="static/img/add-food-img.jpg">
							<input type="file" id="foodImg">
						</label>
					</div>
				</div>


				<!-- 商品描述 -->
				<div class="cell space-top">
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">商品描述</span>
							<mt-field class="input-text" type="text" v-model="foodDesc" placeholder="添加商品描述"></mt-field>
						</span>
					</div>
				</div>

				<div class="btn">
					<mt-button type="primary">确认添加</mt-button>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>

		<script src="static/js/add-food.js"></script>
	</body>
</html>
