<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>添加菜品</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="stylesheet" href="static/css/mint-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="add-food">
				<!-- 分类 -->
				<div class="cell" @click="showFoodTypePopup">
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">分类</span>
							<span class="title-hint" v-if="foodType===''">选择分类</span>
							<span class="orange" v-else="">{{foodType}}</span>
						</span>
						<i class="icon-is-link-big"></i>
					</div>
				</div>

				<!-- 名称 -->
				<div class="cell space-top">
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">名称</span>
							<mt-field class="input-text" type="text" v-model="foodName" placeholder="菜品名称"></mt-field>
						</span>
					</div>
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">是否添加规格</span>
						</span>
						<mt-switch v-model="isAddStandard"></mt-switch>
					</div>
				</div>
				<!-- 价格 -->
				<transition name="fade">
					<div class="cell price" v-show="!isAddStandard">
						<div class="cell-warpper">
							<span class="text-left">
								<span class="title">价格</span>
								<mt-field type="text" v-model="price" placeholder="输入价格"></mt-field>
							</span>
						</div>
					</div>
				</transition>
				<!-- 规格 价格 -->

				<transition name="fade">
					<div class="size-price" v-show="isAddStandard">
						<div class="cell" v-for="(item, index) in sizePrices" :key="index">
							<div class="cell-warpper">
								<span class="text-left">
									<span class="title">规格</span>
									<mt-field type="text" v-model="item.size" placeholder="例:大\/中\/小"></mt-field>
								</span>
								<span class="text-left">
									<span class="title">价格</span>
									<mt-field type="number" v-model="item.price" placeholder="输入价格"></mt-field>
								</span>
								<i class="size-delete" @click="deleteSize(index)"></i>
							</div>
						</div>
						<div class="cell add-size" @click="addSize">
							<div class="cell-warpper">
								<p>添加规格</p>
							</div>
						</div>
					</div>
				</transition>





				<!-- 偏好 -->
				<div class="cell space-top" @click="showSelectLikePopup">
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">偏好</span>
							<span class="title-hint" v-if="selectedLike.length === 0">选择偏好</span>
							<span class="value" v-else="">
								<b v-for="(item, index) in selectedLike" :key="index">{{item}}</b>
							</span>
						</span>
						<i class="icon-is-link-big"></i>
					</div>
				</div>

				<div class="cell space-top">
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">单位</span>
							<mt-field type="text" v-model="foodUnit" placeholder="菜品单位"></mt-field>
						</span>
					</div>
					<div class="cell-warpper border-b">
						<span class="text-left">
							<span class="title">是否推荐</span>
						</span>
						<mt-switch v-model="recommend"></mt-switch>
					</div>
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">立即上架</span>
						</span>
						<mt-switch v-model="putaway"></mt-switch>
					</div>
				</div>

				<!-- 图片 -->
				<div class="cell space-top">
					<div class="cell-warpper img">
						<span class="text-left">
							<span class="title">图片</span>
						</span>
						<label for="foodImg">
							<img src="static/img/add-food-img.jpg">
							<input type="file" id="foodImg">
						</label>
					</div>
				</div>


				<!-- 商品描述 -->
				<div class="cell space-top">
					<div class="cell-warpper">
						<span class="text-left">
							<span class="title">商品描述</span>
							<mt-field class="input-text" type="text" v-model="foodDesc" placeholder="添加商品描述"></mt-field>
						</span>
					</div>
				</div>

				<div class="sd-btn-box">
					<button type="button" class="btn">确认添加</button>
				</div>
			</div>
			
			<div class="food-type-popup">
				<mt-popup v-model="foodTypePopup" position="bottom">
					<div class="tool-bar clearfix">
						<div class="left">
							<button class="btn" @click="foodTypeCancel">取消</button>
						</div>
						<div class="left">
							<button class="btn" @click="foodTypeOK">确定</button>
						</div>
					</div>
					<mt-picker :slots="slotsFoodType" @change="foodTypeOnValuesChange"></mt-picker>
				</mt-popup>
			</div>
			
			<div class="select-like-popup">
				<mt-popup v-model="selectLikePopup" position="bottom">
					<div class="tool-bar clearfix">
						<div class="left">
							<button class="btn" @click="selectLikeCancel">取消</button>
						</div>
						<div class="left">
							<button class="btn" @click="selectLikeOK">确定</button>
						</div>
					</div>
					<div class="preference">
						<div class="sd-checkbox-group">
							<label v-for="(item, index) in likes" :key="index" class="clearfix">
								<span class="left">{{item.name}}</span>
								<input type="checkbox" :value="item.value" :checked="item.checked" @change="changeCheckBox(index)"/>
								<div class="point right"></div>
							</label>
						</div>
					</div>
					
				</mt-popup>
			</div>
			
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>

		<script src="static/js/add-food.js"></script>
	</body>
</html>
