<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>银行卡管理</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="stylesheet" href="static/css/mint-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="toolbar goback">
				<div>
					<i class="icon icon-goback"></i>
				</div>
				<p class="title">银行卡管理</p>
			</div>
			<div class="bank-card-management">
				<!-- 建设银行 -->
				<div class="sd-bank-card" v-if="cardList" v-for="(item,index) in cardList" :key="index" :class="item.className">
					<div class="img-box">
						<img :src="item.imgUrl" alt="">
					</div>

					<div class="card-detaill">
						<div class="card-name clearfix">
							<p class="left">{{item.name}}</p>
							<p class="default-card right" v-if="item.isDefault">已设为默认卡</p>
							<p class="not default-card right" v-else @click="setDafultCard(index)">设为默认卡</p>
						</div>
						<div class="card-type">
							{{item.type}}
						</div>
						<div class="card-number clearfix">
							<p class="left">
								<span>{{item.cardNumber}}</span>
							</p>
							<div class="right" @click="deleteCard(index)">
								<i class="icon icon-delete-bank-card"></i>
							</div>
						</div>
					</div>
				</div>



				<!-- 添加银行卡 -->
				<a class="sd-add-bank-card" href="bind-bank-card.html">
					<div class="inner">
						<div class="content clearfix">
							<i class="icon icon-add-bankcard"></i><span>添加银行卡</span>
						</div>
					</div>
				</a>

			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>
		<script src="static/js/bank-card-management.js"></script>
	</body>
</html>
