<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>默认分类</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="stylesheet" href="static/css/mint-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />

	</head>
	<body>
		<div id="app" v-cloak>
			<div class="toolbar goback">
				<div>
					<i class="icon icon-goback"></i>
				</div>
				<p class="title">默认分类</p>
			</div>

			<div class="default-category">
				<div class="sd-hint-info">
					<p>请选择您的店铺类型</p>
				</div>

				<div class="cell-group">
					<div v-for="(item, index) in defaultSizes" :key="index">
						<div class="sd-link-cell clearfix" @click.stop="choiceMainType(index)">
							<div class="left">
								<span>{{item.name}}</span>
							</div>
							<i class="icon icon-link-black right"></i>
						</div>
						<div class="sd-select-size" v-if="item.selected">
							<div class="clearfix">
								<div class="left" v-for="(sizeItem, sizeIndex) in item.children" :key="sizeIndex">
									<label>
										<input type="checkbox" :checked="sizeItem.checked" @change.stop="sizeChange(sizeIndex)" />
										<span>{{sizeItem.sizeName}}</span>
									</label>
								</div>
						
							</div>
						</div>
					</div>
				</div>
				
				<div class="sd-btn-box">
					<button type="button" class="btn" @click="save">保存</button>
				</div>
			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>

		<script src="static/js/default-category.js"></script>
	</body>
</html>
