<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>编辑二维码</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">

		<link rel="stylesheet" href="static/css/mint-ui.css">

		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


	</head>
	<body>
		<div id="app" v-cloak>
			<div class="editor-QR" v-show="!isShowAddQR">
				<div class="sd-hint-info">
					<p class="before">可自行修改餐桌编号</p>
				</div>
				<div class="table-num-list" v-if="tables">
					<div class="sd-table-num clearfix" v-for="(item, index) in tables" :key="index">
						<div class="left">
							<span>{{item.name}}</span>
							<span class="editor-btn" @click="showEditorSeatNamePopup(index)">[修改]</span>
						</div>
						<div class="right">
							<img src="static/img/table-QR.jpg" alt="">
							<div class="mask">
								<a href="see-QR.html">查看</a>
							</div>
						</div>
						<div class="right editor-status">
							<span>{{item.status}}</span>
						</div>
					</div>
				</div>
				<div class="add-table-QR" @click="addQR">
					<div class="cc">
						<i class="icon"></i><span>新增二维码</span>
					</div>
				</div>
				<p class="sd-hint">*修改名称后，保存修改才可查看新的桌贴哦</p>
				<div class="sd-btn-box">
					<button type="button" class="btn">保存修改</button>
				</div>
			</div>
			<!-- 修改餐桌编号弹窗 -->
			<div class="sd-popup" v-show="editorSeatNamePopup">
				<div class="add-QR-popup popup">
					<div class="content">
						<h3>请修改餐桌编号</h3>
						<div class="input-warrper">
							<div class="input-box">
								<input type="text" v-model="newSeatName" placeholder="请输入修改后的名称" ref="inputDOM">
							</div>
						</div>
					</div>
					<div class="btn clearfix">
						<button type="button" class="btn btn-cancel left" @click="editorSeatNameCancel">取消</button>
						<button type="button" class="btn btn-ok left" @click="editorSeatNameOK">确认</button>
					</div>
				</div>
				<div class="popup-mask"></div>
			</div>
			<!-- 输入桌数 -->
			<div class="input-table-num" v-show="isShowAddQR">
				<div class="input-box">
					<p>请输入桌数</p>
					<input type="number" placeholder="请输入桌数" v-model="addNum">
				</div>
				<div class="sd-btn-box">
					<button class="btn" @click="createQR">生成二维码</button>
				</div>
			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>

		<script src="static/js/editor-QR.js"></script>
	</body>
</html>
