<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>菜品分类管理</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


	</head>
	<body>
		<div id="app" v-cloak>
			<!-- 店铺基本信息 -->
			<div class="food-type">
				<div class="content">
					<div class="top">
						<div class="banner">
							<img src="static/img/banner-01.jpg">
						</div>
						<div class="btn">
							<a href="food-type-management.html">
								<i></i>
								<span>菜单分类管理</span>
							</a>
						</div>
					</div>

					<div class="bottom">
						<div class="menu">
							<ul>
								<li v-for="(item, index) in menus" :key="index" @click.stop="changeMenu(item,index)" :class="index==current? 'active':''">
									<i :class="item.iconClassName" v-if="item.icon"></i>
									<span>{{item.name}}</span>
								</li>
							</ul>
						</div>
						<div class="food-box">
							<div class="go-all btn">
								<button @click="allPutaway">全部上架</button>
							</div>
							<div class="foods">
								<ul>
									<li v-for="(item, index) in foods" :key="index">
										<img :src="item.imgUrl">
										<div class="food-detail">
											<div class="food-name">{{item.name}}</div>
											<div class="food-desc">{{item.description}}</div>
											<div class="food-handle">
												<div class="checkbox-group">
													<label>
														<span>推荐</span>
														<input type="checkbox" v-model="item.isRecommend" :checked="item.isRecommend" />
														<div class="point">
															<span></span>
														</div>
													</label>
												</div>
												<div class="checkbox-group">
													<label>
														<span>上架</span>
														<input type="checkbox" v-model="item.isPutAway" :checked="item.isPutAway" />
														<div class="point">
															<span></span>
														</div>
													</label>
												</div>
											</div>
											<div class="food-price">
												<span>24</span>
												<div>编辑</div>
											</div>
										</div>
									</li>
								</ul>

								<div class="btn add-food">
									<a href="add-food.html">添加菜品</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer-nav fcfs">
					<a class="item order-list" href="order-list.html">
						<i class="icon icon-nav-order-list"></i>
						<span>订单列表</span>
					</a>
					<a class="item order-list active" href="food-type.html">
						<i class="icon icon-nav-type"></i>
						<span>菜品分类</span>
					</a>
					<a class="item order-list" href="sale-total.html">
						<i class="icon icon-nav-total"></i>
						<span>销售统计</span>
					</a>
					<a class="item order-list" href="store-info.html">
						<i class="icon icon-nav-storeInfo"></i>
						<span>商铺信息</span>
					</a>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="static/js/food-type.js"></script>
	</body>
</html>
