<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>菜品分类管理</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


		<!--[if lt IE 9]>
		  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="app" v-cloak>



			<!-- 店铺基本信息 -->
			<div class="food-type-management">
				<draggable class="list clearfix" v-model="myArray" :options="{group:'people'}" @start="drag=true" @end="drag=false">
					<div v-for="item in myArray" :key="item.order">
						<span>{{item.name}}</span>
						<i class="icon-delete"></i>
					</div>
				</draggable>
				<p class="help-info">*长按拖动调整顺序</p>
				<div class="btn">
					<a href="#" class="btn-add-type">添加分类</a>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
		<script src="static/js/food-type-management.js"></script>
	</body>
</html>
