<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>收益记录</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="stylesheet" href="static/css/mint-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />

	</head>
	<body>
		<div id="app" v-cloak>
			<div class="gain-recording">

				<div class="choice-deta clearfix">
					<div class="left">
						<span>{{deta}}</span>
						<span>本月收入¥ {{totalSale}}</span>
					</div>
					<i class="icon icon-gain-deta right" @click="openPicker"></i>
				</div>

				<div class="record-list">
					<div class="sd-gain-card" v-for="(item, index) in orderList" :key="index">
						<div class="user-header">
							<img :src="item.imgUrl">
						</div>
						<div class="detail">
							<div class="top clearfix">
								<div class="left">
									<span>取餐号：{{item.orderNum}}</span>
								</div>
								<div class="right">
									<span>+ {{item.foodPrice}}</span>
								</div>
							</div>
							<div class="middle clearfix">
								<div class="left">
									<span>【点餐人：{{item.orderPeople}}】</span>
								</div>
								<i class="icon icon-replace-order right" v-if="item.isHelpOrder"></i>
							</div>
							<div class="bottom clearfix">
								<div class="left">
									<span>{{item.orderTime}}</span>
								</div>
								<div class="right">
									<a href="#">
										<span>查看详情</span><i class="icon"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<mt-datetime-picker ref="picker" type="date" v-model="pickerValue" year-format="{value} 年" month-format="{value} 月"
				 @confirm="handleConfirm" @cancel="cancal">
				</mt-datetime-picker>
			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>
		<script src="static/js/gain-recording.js"></script>
	</body>
</html>
