<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>选择照片信息</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />

	</head>
	<body>
		<div id="app" v-cloak>
			<div class="toolbar goback">
				<div>
					<i class="icon icon-goback"></i>
				</div>
				<p class="title">选择照片信息</p>
			</div>
			<div class="select-photo-info">
				<div class="sd-radio-group">
					<label v-for="(item, index) in checkBoxData" :key="index" class="clearfix">
						<div class="left" :class="!item.hintInfo?'onlyone':''">
							<span>{{item.name}}</span>
							<div v-if="item.hintInfo">{{item.hintInfo}}</div>
						</div>
						<input type="radio" name="photoInfo" :value="item.value" :checked="item.checked" />
						<div class="circle right"><i class="icon icon-radio"></i></div>
					</label>
				</div>
			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/select-photo-info.js"></script>
	</body>
</html>
