<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>设置营业时间</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


		<!--[if lt IE 9]>
		  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="app" v-cloak>
			<!-- 店铺基本信息 -->
			<div class="set-work-time">

				<div class="work-time-cell" v-for="(item, index) in workTimes" :key="index">
					<div class="work-time-cell-warpper fcsb">
							<div class="work-time-cell-input">
								<span>{{item.name}}</span>
								<input type="text" @focus="open('s' + index)" readonly="readonly" v-model="item.startTime" placeholder="开始时间">
								<span>~</span>
								<input type="text" @focus="open('e' + index)" readonly="readonly" v-model="item.endTime" placeholder="结束时间">
							</div>
							<button @click="deletePeriod(index)">删除</button>
					</div>
				</div>

				<div class="cell add-size space-top">
					<div class="cell-warpper" @click="addPeriod">
						<p>添加时间段</p>
					</div>
				</div>

				<div>
					<mt-datetime-picker ref="picker" type="time" v-model="date" @confirm="handleConfirm" hour-format="{value} 时"
					 minute-format="{value} 分" @cancel="cancal">
					</mt-datetime-picker>
				</div>

			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<script src="static/js/set-work-time.js"></script>
	</body>
</html>
