<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>商铺信息管理</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="static/css/mint-ui.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css" />

	</head>
	<body>
		<div id="app" v-cloak>
			<div class="toolbar goback">
				<div>
					<i class="icon icon-goback"></i>
				</div>
				<p class="title">商铺信息管理</p>
			</div>
			<div class="change-store-info">

				<div class="store-head-portrait">
					<label for="changeImg" class="sd-link-cell clearfix">
						<img :src="storeInfo.headImgUrl" alt="" class="left">
						<input type="file" id="changeImg" />
						<div class="right">
							<span>编辑</span><i class="icon icon-link"></i>
						</div>
					</label>
				</div>

				<div class="sd-link-cell clearfix" @click="changeInfo(storeInfo.name, 'name')">
					<div class="left">
						<span>{{storeInfo.name}}</span>
					</div>
					<div class="right">
						<span>编辑</span><i class="icon icon-link"></i>
					</div>
				</div>
				<div class="sd-link-cell clearfix" @click="changeInfo(storeInfo.address, 'address')">
					<div class="left"><span>{{storeInfo.address}}</span></div>
					<div class="right">
						<span>编辑</span><i class="icon icon-link"></i>
					</div>
				</div>
				<div class="sd-link-cell clearfix" @click="changeInfo(storeInfo.merchant, 'merchant')">
					<div class="left"><span>{{storeInfo.merchant}}</span></div>
					<div class="right">
						<span>编辑</span><i class="icon icon-link"></i>
					</div>
				</div>
				<div class="sd-link-cell clearfix" @click="changeInfo(storeInfo.tel, 'tel')">
					<div class="left"><span>{{storeInfo.tel}}</span></div>
					<div class="right">
						<span>编辑</span><i class="icon icon-link"></i>
					</div>
				</div>
			</div>
			<!-- 修改信息 -->
			<mt-popup v-model="popupVisible" position="top" class="changeInfoPopup">
				<div class="change-info">
					<div class="sd-input-box change">
						<mt-field type="text" v-model="text" placeholder="请输入您想要修改的店名"></mt-field>
					</div>
					<p class="sd-hint">*提交后将由管理平台审批,通过后自动更新(审批将于24小时内进行)。</p>
					
					<div class="sd-get-code">
						<div>
							<mt-field type="text" v-model="code" placeholder="请输入验证码"></mt-field>
							<div class="btn-box">
								<button type="primary" @click="" class="btn">
									<span v-if="canClick">获取验证码</span>
									<span v-else>重新获取({{number}}s)</span>
								</button>
							</div>
						</div>
					</div>
					
					<div class="sd-btn-box">
						<button type="button" class="btn" @click="saveInfo">提交</button>
					</div>
					
				</div>
			</mt-popup>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>
		<script src="static/js/store-info-change.js"></script>
	</body>
</html>
