<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,shrink-to-fit=no">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>提现记录</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">

		<link rel="stylesheet" href="static/css/mint-ui.css">

		<link rel="stylesheet" type="text/css" href="static/css/index.css" />


	</head>
	<body>
		<div id="app" v-cloak>
			<div class="toolbar goback">
				<div>
					<i class="icon icon-goback"></i>
				</div>
				<p class="title">提现记录</p>
			</div>
			<div class="withdrawal-record gain-recording">
				<div class="choice-deta clearfix">
					<div class="left">
						<span>{{deta}}</span>
						<span>提现总计¥ {{totalSale}}</span>
					</div>
					<i class="icon icon-gain-deta right" @click="openPicker"></i>
				</div>

				<div class="record-list" v-if="withdrawalList.length!==0">
					<div class="sd-gain-card" v-for="(item, index) in withdrawalList" :key="index">
						<div class="user-header">
							<img :src="item.imgUrl">
						</div>
						<div class="detail">
							<div class="top clearfix">
								<div class="left">
									<span>提现{{item.withdrawalNum}}元</span>
								</div>
								<div class="right">
									<span class="withdrawal-success" v-if="item.withdrawalSuccess">提现成功</span>
									<span class="processing" v-else>正在处理</span>
								</div>
							</div>
							<div class="middle clearfix">
								<div class="left">
									<span>到账银行卡：{{item.bankCardNumber}}</span>
								</div>
							</div>
							<div class="bottom clearfix">
								<div class="left">
									<span>{{item.ymd}} {{item.hms}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="no-recoding" v-if="withdrawalList.length===0">
				<span>暂无记录</span>
			</div>
			<div>
				<mt-datetime-picker ref="picker" type="date" v-model="pickerValue" year-format="{value} 年" month-format="{value} 月"
				 @confirm="handleConfirm" @cancel="cancal">
				</mt-datetime-picker>
			</div>
		</div>
		<script src="static/js/vue.min.js"></script>
		<script src="static/js/mint-ui.js"></script>
		<script src="static/js/withdrawal-record.js"></script>
	</body>
</html>
