$scss_html-font-size: 75;


$scss_2px: 2 / $scss_html-font-size;
$scss_3px: 3rem / $scss_html-font-size;
$scss_4px: 4rem / $scss_html-font-size;
$scss_5px: 5rem / $scss_html-font-size;
$scss_6px: 6rem / $scss_html-font-size;
$scss_7px: 7 / $scss_html-font-size;
$scss_8px: 8rem / $scss_html-font-size;
$scss_9px: 9 / $scss_html-font-size;

$scss_10px: 10rem / $scss_html-font-size;
$scss_11px: 11rem / $scss_html-font-size;
$scss_12px: 12rem / $scss_html-font-size;
$scss_14px: 14rem / $scss_html-font-size;
$scss_15px: 15rem / $scss_html-font-size;
$scss_16px: 16rem / $scss_html-font-size;
$scss_18px: 18rem / $scss_html-font-size;

$scss_20px: 20rem / $scss_html-font-size;
$scss_22px: 22rem / $scss_html-font-size;
$scss_24px: 24rem / $scss_html-font-size;
$scss_25px: 25rem / $scss_html-font-size;
$scss_26px: 26rem / $scss_html-font-size;
$scss_28px: 28rem / $scss_html-font-size;
$scss_30px: 30rem / $scss_html-font-size;
$scss_32px: 32rem / $scss_html-font-size;
$scss_34px: 34rem / $scss_html-font-size;
$scss_35px: 35rem / $scss_html-font-size;
$scss_36px: 36rem / $scss_html-font-size;
$scss_38px: 38rem / $scss_html-font-size;
$scss_40px: 40rem / $scss_html-font-size;
$scss_42px: 42rem / $scss_html-font-size;
$scss_44px: 44rem / $scss_html-font-size;
$scss_46px: 46rem / $scss_html-font-size;
$scss_48px: 48rem / $scss_html-font-size;

$scss_50px: 50rem / $scss_html-font-size;
$scss_52px: 52rem / $scss_html-font-size;
$scss_54px: 54rem / $scss_html-font-size;
$scss_56px: 56rem / $scss_html-font-size;
$scss_57px: 57rem / $scss_html-font-size;
$scss_58px: 58rem / $scss_html-font-size;

$scss_60px: 60rem / $scss_html-font-size;
$scss_62px: 62rem / $scss_html-font-size;
$scss_64px: 64rem / $scss_html-font-size;
$scss_66px: 66rem / $scss_html-font-size;
$scss_68px: 68rem / $scss_html-font-size;
$scss_70px: 70rem / $scss_html-font-size;
$scss_72px: 72rem / $scss_html-font-size;
$scss_74px: 74rem / $scss_html-font-size;
$scss_76px: 76rem / $scss_html-font-size;
$scss_78px: 78rem / $scss_html-font-size;
$scss_80px: 80rem / $scss_html-font-size;
$scss_82px: 82rem / $scss_html-font-size;
$scss_84px: 84rem / $scss_html-font-size;
$scss_86px: 86rem / $scss_html-font-size;
$scss_88px: 88rem / $scss_html-font-size;

$scss_90px: 90rem / $scss_html-font-size;
$scss_92px: 92rem / $scss_html-font-size;
$scss_94px: 94rem / $scss_html-font-size;
$scss_96px: 96rem / $scss_html-font-size;
$scss_98px: 98rem / $scss_html-font-size;

$scss_100px: 100rem / $scss_html-font-size;
$scss_102px: 102 / $scss_html-font-size;
$scss_104px: 104rem / $scss_html-font-size;
$scss_106px: 106 / $scss_html-font-size;
$scss_108px: 108 / $scss_html-font-size;
$scss_110px: 110 / $scss_html-font-size;
$scss_112px: 112 / $scss_html-font-size;
$scss_114px: 114 / $scss_html-font-size;
$scss_116px: 116 / $scss_html-font-size;
$scss_118px: 118rem / $scss_html-font-size;
$scss_120px: 120rem / $scss_html-font-size;
$scss_122px: 122 / $scss_html-font-size;
$scss_124px: 124 / $scss_html-font-size;
$scss_126px: 126 / $scss_html-font-size;
$scss_128px: 128 / $scss_html-font-size;
$scss_130px: 130rem / $scss_html-font-size;
$scss_132px: 132rem / $scss_html-font-size;
$scss_136px: 136rem / $scss_html-font-size;
$scss_138px: 138rem / $scss_html-font-size;

$scss_140px: 140rem / $scss_html-font-size;
$scss_142px: 142rem / $scss_html-font-size;
$scss_144px: 144rem / $scss_html-font-size;
$scss_146px: 146rem / $scss_html-font-size;
$scss_148px: 148rem / $scss_html-font-size;

$scss_150px: 150rem / $scss_html-font-size;
$scss_152px: 152rem / $scss_html-font-size;
$scss_158px: 158rem / $scss_html-font-size;

$scss_160px: 160rem / $scss_html-font-size;
$scss_162px: 162rem / $scss_html-font-size;
$scss_165px: 165 / $scss_html-font-size;

$scss_170px: 170rem / $scss_html-font-size;
$scss_172px: 172rem / $scss_html-font-size;
$scss_175px: 175 / $scss_html-font-size;
$scss_180px: 180 / $scss_html-font-size;
$scss_182px: 182 / $scss_html-font-size;
$scss_190px: 190rem / $scss_html-font-size;
$scss_192px: 192rem / $scss_html-font-size;
$scss_196px: 196rem / $scss_html-font-size;
$scss_206px: 206 / $scss_html-font-size;
$scss_200px: 200rem / $scss_html-font-size;
$scss_210px: 210 / $scss_html-font-size;
$scss_214px: 214rem / $scss_html-font-size;
$scss_218px: 218rem / $scss_html-font-size;
$scss_220px: 220rem / $scss_html-font-size;

$scss_230px: 230 / $scss_html-font-size;
$scss_238px: 238 / $scss_html-font-size;
$scss_244px: 244rem / $scss_html-font-size;
$scss_250px: 250 / $scss_html-font-size;
$scss_270px: 270rem / $scss_html-font-size;
$scss_286px: 286rem / $scss_html-font-size;
$scss_288px: 288 / $scss_html-font-size;
$scss_300px: 300 / $scss_html-font-size;
$scss_318px: 318rem / $scss_html-font-size;
$scss_320px: 320rem / $scss_html-font-size;
$scss_325px: 325rem / $scss_html-font-size;
$scss_326px: 326 / $scss_html-font-size;
$scss_366px: 366rem / $scss_html-font-size;
$scss_384px: 384rem / $scss_html-font-size;
$scss_400px: 400 / $scss_html-font-size;
$scss_406px: 406rem / $scss_html-font-size;
$scss_420px: 420rem / $scss_html-font-size;
$scss_480px: 480rem / $scss_html-font-size;
$scss_407px: 407 / $scss_html-font-size;
$scss_465px: 465 / $scss_html-font-size;
$scss_470px: 470 / $scss_html-font-size;
$scss_510px: 510rem / $scss_html-font-size;
$scss_524px: 524 / $scss_html-font-size;
$scss_500px: 500 / $scss_html-font-size;
$scss_574px: 574 / $scss_html-font-size;
$scss_800px: 800 / $scss_html-font-size;
$scss_650px: 650 / $scss_html-font-size;
$scss_752px: 752 / $scss_html-font-size;
$scss_951px: 951 / $scss_html-font-size;
$scss_1000px: 1000 / $scss_html-font-size;